* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-color: rgb(156, 197, 156);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-panel {
    height: 85%;
    width: 80%;
    background-color: white;
    /* padding: 20px; */
    border-radius: 10px;
    overflow: hidden;
}

.top-panel {
    height: 80px;
    width: 100%;
    background-color: rgb(82, 129, 81);
    /* margin-bottom: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 200;
    padding: 0px 30%;
}

.box {
    padding: 6px 15px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 25px;
    background-color: rgb(177, 233, 177);
    /* width: 35%; */
}

.elem {
    /* width: 10%; */
    /* background-color: blue; */
    gap: 12px;
    align-items: center;
    display: flex;
    /* color: rgb(153, 212, 153); */
    color: black;
}

h2 {
    color: white;
}

.btm-panel {
    height: calc(100% - 100px);
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px;
    /* margin-left: 1%; */
    flex-wrap: wrap;
    /* background-color: black; */
}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: ; */
    background-color: rgb(82, 129, 81);
    color: black;
    height: 45px;
    font-weight: 500;
    width: 45px;
    border-radius: 50%;
}

.bubble:hover {
    cursor: pointer;
    background-color: rgb(20, 49, 20);
}

@media (max-width:600px) {

    .top-panel {
        display: flex;
        flex-wrap: wrap;
    }
}
